:root {
    --main: #320E3B;
    --main-light: #4C2A85;
    --second: #23272A;
    --second-lighter: #2C2F33;
    --second-light: #696F75;
    --third: #7289DA;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-custom {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: var(--main-light);
}

header .container-custom {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 2em;
    background-color: var(--main);
}

footer .container-custom {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    color: #fff;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    display: flex;
}

.sidebar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-flow: column;
    width: 200px;
    background-color: var(--second);
}

.sidebar-header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0.3em;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 2px -2px black;
}

#users {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 0px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-wrap: break-word;
    list-style-type: none;
}

#users li {
    margin: 0 0.5em;
    padding: 0 0.5em;
}

#users > :first-child {
    margin-top: 0.5em;
}

#users > :last-child {
    margin-bottom: 0.5em;
}

#users li:hover {
    background-color: var(--second-light);
    border-radius: 5px;
}

.chat {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-flow: column;
    background-color: var(--second-lighter);
}

.chat-header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0.3em;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 2px -2px black;
}

form {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    padding: 0 1em 1em 1em;
}

form input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0.5em;
    background-color: var(--second-light);
    border: 0;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

form button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 0.1em;
    padding: 0.5em;
    background: var(--third);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#messages {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#messages > :first-child {
    margin-top: auto;
}

#messages > :last-child {
    margin-bottom: 1em;
}

#messages li {
    padding: 5px 10px;
    margin-right: 0.1em;
    overflow-wrap: anywhere;
    color: #fff;
}

#messages li:hover {
    background-color: var(--second);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#messages li .timestamp {
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: normal;
}

#messages li.error .text {
    color: #e41414;
}

#messages li.info .text {
    color: #0cdf64;
}

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}
